
*{
  margin: 0;
  padding: 0;
  transition: all .5s;
}
body{
    background-color: grey;
}
h1 , p{
  text-align: center;
  margin: 10px;
}
h1:hover{
  color: beige;
}
nav{
  width: 100%;
}
nav .nav-elements{
  display: flex;
  align-items: center;
  background-color: rgba(59, 50, 36, 0.363);
  list-style: none;
}
.nav-elements > li a{
  position: relative;
  text-decoration: none;
  color: aliceblue;
  display: block;
  padding: 20px 20px;
  transition: background-color .5s;
}
.nav-elements > li a:hover{
  background-color: rgba(59, 50, 36);

}
.dropdown{
  list-style: none;
  position: absolute;
  display: none;
  
  background-color: rgb(10, 8, 4);
}
.dropdown > li{  
  display: block; 
  padding: 20px; 
  color: aliceblue;
  transition: background-color .5s;
}
.dropdown > li:hover {
  background-color: rgba(59, 50, 36);
}
.nav-elements > li:hover .dropdown{
  display: block;
}
section{
  margin: 10px;
}
.html{
  display: flex;
  background: #2F3362;
  color: white;
  padding: 10px;
}
.html img{
  height: 8rem;
  border-radius: 20px;
  border: 5px solid white;
  background-position: top;
}
.css{
  display: flex;
  background: #2F3362;
  color: white;
  margin-top: 20px;
  padding: 10px;
}
.css img{
  height: 8rem;
  border-radius: 20px;
  border: 5px solid white;
  background-position: top;
}